@page
@model BancoPreguntasIntento25.Pages.CuentaUsuarios.LoginModel
@{
    Layout = "_Landing";
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="login-container">

    <h1 class="login-title">INICIAR SESIÓN</h1>

    <form method="post" class="login-form">

        <div class="input-group">
            <span class="input-icon">👤</span>
            <input asp-for="Email" type="email" placeholder="Ingresar email..." />
        </div>

        <div class="input-group">
            <span class="input-icon">🔑</span>
            <input asp-for="Clave" type="password" placeholder="Ingresar contraseña..." />
        </div>

        <button type="submit" class="btn-custom">INGRESAR</button>

        <p style="color:red">@Model.Mensaje</p>
    </form>

</div>
