@page
@model BancoPreguntasIntento25.Pages.IndexModel
@{
    Layout = "_Landing";
}

<div class="welcome-layout">

    <div class="welcome-left">
        <img src="~/images/profesores.png" alt="Registro de Profesores" class="welcome-img" />
    </div>

    <div class="welcome-right">
        <div class="welcome-actions">
            <h1 class="login-title">BANCO DE PREGUNTAS</h1>

            <a asp-page="/CuentaUsuarios/Login" class="btn-custom btn-large">Iniciar Sesión</a>
            <a asp-page="/CuentaUsuarios/Registro" class="btn-custom btn-large">Registrarse</a>
        </div>
    </div>

</div>