@page
@model BancoPreguntasIntento25.Pages.Preguntas.AsignaturasModel

<h2>Asignaturas disponibles</h2>
<ul>
    @foreach (var a in Model.Asignaturas)
    {
        <li>
            <a asp-page="/Preguntas/Unidades" asp-route-Asignatura="@a">@a</a>
        </li>
    }
</ul>
